* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-banner {
    background-color: darkgray;
    padding: 60px;
}

.nav {
    display:flex;
    justify-content: space-between;
}

.nav ul li {
    display: inline;
    list-style: none;
    text-decoration: none;
    padding: 30px;
}

.nav ul li a {
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: white;
}

.logo {
    align-items: center;
    text-align: center;
}
.logo img {
    width: 40px;
    height: 40px;

}

.nav-content {
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

/* end navbar  */
.circle {
    position: relative;
    padding: 40px;
    width: 500px;
    height: 500px;
    border: 4px dotted #fff;
    border-radius: 50%;
}

.nav-descr {
    width: 600px;
}
.nav-descr h1 {
    font-size: 3rem;
    padding: 20px 0px;

}

#food {
    color: tomato;
    
}

.nav-descr p {
    font-size: 1.5rem;
    padding: 10px 0px;
}

#btn-order {
    background-color: yellowgreen;
    padding: 10px 30px;
    color: white;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-radius: 40px;
}

#img-1 {
    transform: translateY(3px);
}

#img-2 {
    transform: translate(60px, -80px);
}
#img-3 {
    transform: translate(150px, 40px);
}



/* eating together  */
.eat-tog {
    padding: 20px;
    display: flex;
    justify-content:space-between;
}

.eat-tog  img {
    width: 800px;
    height: auto;
    padding: 60px;
}

.tog {
    width: 100vw;
    text-align: center;
    padding-top: 60px;
}
.tog h2 {
    color: orange;
    size: 20px;
}

.tog  p {
    font-size: 1.3rem;
    padding: 20px 0px;
    margin-right: 60px;
}

/* menu  */
.menu {
    padding: 60px;
}

.menu-item {
    background-color: #e6eeff;
    padding: 40px;
}

.menu-item-row {
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}

.item-one {
    width: 400px;
    height: auto;
    background-color: white;
    border-bottom-right-radius: 40px;
}
.item-one h4 {
    margin-top: 20px;
    padding: 10px;
    margin-left: 80px;
}
.burg-descr {
    display: flex;
    justify-content: space-between;
}

.burg-descr img {
    margin-left: -50px;
    width: 150px;
    height: auto;
}
.burg-descr p {
    font-size: 1.15rem;
    text-align: center;
}

/* end menu*/
.hot-deals {
    background-color: #1aff66;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}
.deal-images {
    padding: 50px;
}
.deal-description h1 {
    color: green;
}
.deal-description h2 {
    padding: 20px;
    font-weight: 500;
}
.deal-description p {
    padding: 20px;
}
/*--end hot deals*/
.contact-us {
    height: 200px;
    max-width: none;
    background-color: goldenrod;
    padding: 20px;
    justify-content: center;   
}
.contact-us h1 {
   
}
.email-cell {
    padding: 10px 30px;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-radius: 40px;
}

.contact-us-label h1 {
   font-size: medium; 

}
.send-btn {
    background-color: yellowgreen;
    padding: 5px 15px;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-radius: 40px;
    max-width: 100px;
    
}
/*--end contact-us*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 200px;
    max-width: none;
    background-color: honeydew;
    color: black;
}