.nav-banner {
    background-color: darkgray;
    padding: 60px;
}

.nav {
    display:flex;
    justify-content: space-between;
}

.nav ul li {
    display: inline;
    list-style: none;
    text-decoration: none;
    padding: 30px;
}

.nav ul li a {
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: white;
}

.logo {
    align-items: center;
    text-align: center;
}
.logo img {
    width: 40px;
    height: 40px;

}